

body {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  color: gray;
  background: whitesmoke; }

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .offcanvas #page {
    overflow: hidden;
    position: absolute; }
    .offcanvas #page:after {
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: 2s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background: rgba(0, 0, 0, 0.7);
      content: ""; }


h1, h2 figure {
  color: #303133;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  line-height: 1.3; }


.video-hero {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  z-index: 0; }
  @media screen and (max-width: 768px) {
    .video-hero {
      heifght: inherit;
      padding: 3em 0; } }
  .video-hero .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.95;
    background: #499bea;
    background: -moz-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -webkit-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -o-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -ms-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -webkit-linear-gradient(315deg, #499bea 0%, #798eea 100%);
    background: -o-linear-gradient(315deg, #499bea 0%, #798eea 100%);
    background: linear-gradient(135deg, #499bea 0%, #798eea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#798eea', GradientType=1 );
    z-index: 1; }
  .video-hero .display-t {
    display: table;
    height: 700px;
    width: 100%;
    position: relative;
    z-index: 2; }
    @media screen and (max-width: 768px) {
      .video-hero .display-t {
        height: 600px; } }
    .video-hero .display-t.display-t2 {
      height: 500px; }
  .video-hero .display-tc {
    display: table-cell;
    vertical-align: middle; }
    .video-hero .display-tc .holder {
      color: #fff;
      font-family: "Poppins", Arial, sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 7px; }
      .video-hero .display-tc .holder span {
        position: relative; }
    .video-hero .display-tc h2 {
      color: #fff;
      font-size: 60px;
      margin-bottom: 20px;
      font-weight: 300; }
      @media screen and (max-width: 768px) {
        .video-hero .display-tc h2 {
          font-size: 34px; } }
    .video-hero .display-tc p {
      font-family: "Nunito", Arial, sans-serif;
      color: #fff;
      font-weight: 200;
      font-size: 30px; }
    .video-hero .display-tc p.breadcrumbs {
      font-size: 20px; }
      .video-hero .display-tc p.breadcrumbs span {
        padding-right: 10px;
        color: rgba(255, 255, 255, 0.5); }
        .video-hero .display-tc p.breadcrumbs span a {
          color: rgba(255, 255, 255, 0.9); }
    .video-hero .display-tc .btn-custom {
      font-size: 16px; }


.colorlib-bg-white {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none; }


.colorlib-work-featured  {
  margin-bottom: 4em;
  display: block; }
  .colorlib-work-featured  {
    background-position: top;
    height: 730px;
    -webkit-box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  .colorlib-work-featured {
    padding: 30px; }
    .colorlib-work-featured {
      font-size: 50px;
      font-weight: 300;
      margin-bottom: 40px; }
      @media screen and (max-width: 768px) {
        .colorlib-work-featured {
          font-size: 34px; } }
    .colorlib-work-featured  {
      position: relative;
      margin-bottom: 50px; }
      .colorlib-work-featured {
        position: absolute;
        top: 10px;
        left: 0; }
        .colorlib-work-featured {
          font-size: 30px;
          color: #499bea; }
      .colorlib-work-featured  {
        padding-left: 50px; }


.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f0f0f0;
  font-size: 16px !important;
  font-weight: 300;
  background: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .form-control:focus, .form-control:active {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e6e6e6; }

input[type="text"] {
  height: 50px; }

.form-group {
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .form-group #fname {
      margin-bottom: 30px; } }
  .form-group label {
    font-weight: 400; }
  .form-group .btn-modify {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 15px; }

.colorlib-heading {
  margin-bottom: 5em; }
  .colorlib-heading h2 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .colorlib-heading h2 {
        font-size: 30px; } }

#colorlib-footer {
  background: #303133;
  color: rgba(255, 255, 255, 0.6) !important;
  padding-top: 6em; }
  #colorlib-footer .colorlib-widget p {
    font-size: 13px; }
  @media screen and (max-width: 768px) {
    #colorlib-footer .colorlib-widget {
      margin-bottom: 40px;
      width: 100%;
      float: left; } }
  #colorlib-footer .colorlib-footer-links {
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 768px) {
      #colorlib-footer .colorlib-footer-links {
        margin-bottom: 30px; } }
    #colorlib-footer .colorlib-footer-links li {
      padding: 0;
      margin: 0 0 10px 0;
      list-style: none;
      display: block;
      font-size: 13px; }
      #colorlib-footer .colorlib-footer-links li a {
        color: rgba(255, 255, 255, 0.9);
        text-decoration: none; }
        #colorlib-footer .colorlib-footer-links li a i {
          padding-right: 10px;
          color: #fff; }
  #colorlib-footer .colorlib-social-icons li a {
    padding-left: 10px;
    padding-right: 10px; }
    #colorlib-footer .colorlib-social-icons li a:first-child {
      padding-left: 0; }


.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px; }
  .btn.btn-md {
    padding: 8px 20px !important; }
  .btn.btn-lg {
    padding: 18px 36px !important; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important; }


.colorlib-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff; }




